
body{
    font-family: arial;
}
/*首页logo
------------------------------
*/
.logo{
    text-align: center;
    margin-top: 15%;
}
.logo > img{
    display: inline-block;
    height: 8em;
    margin-bottom: 1em;
}
.icr-logo{
    background: url(../img/icon.png) -600px -96px no-repeat;

    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    /*background-position: -600px -96px;*/
    position: relative;
    top: 3px;
}
.ba-logo{
    background: url(../img/icon.png) -623px -96px no-repeat;

    width: 14px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    /*background-position: -600px -96px;*/
    position: relative;
    top: 3px;
}
/*
尾部声明
------------------------*/
.law-container{
    margin-top: 30px;
}

.law-container > div > div > img{
    height: 6em;
}
.law-container > div > div > ul{
    display: block;
    list-style: none;
}
.law-container > div > div > ul > li{
    display: block;
    margin-top: 5px;

}
.law-container > div > div > ul > li > a{
    display: block;
    text-decoration: underline;
    cursor: pointer;
    color: #0000CC;
}
.law-title-chanage{
    color: black !important;
    font-weight: bold;

}
.law-content-parent{
    padding-bottom: 20px;
}
.law-content-parent > span{
    text-align: center;
    display: block;
    color: #999999;
    margin-right: 5px;
    font: 14px arial;
}
.law-content{
    margin-top: 30px;
}
.law-content > span{
    display: block;
    background:#D9E5F5;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 0 5px 10px;
    /*line-height: 2em;*/
}

.law-content-text{
    margin-top: 30px;
    padding: 20px 0 0 20px;
    border-left: 1px solid #d9e5f5;
}
.law-content-text > span{

    font-size: 13px;

    /*让文本自动换行*/
    word-break: normal;
    width: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}
/*
form表单
-----------------------------
*/
.index_form{
    text-align: center;
    line-height: 0;
}

.index_form > input[type=text]{
    width: 45%;
    height: 36px;
    padding:0 10px 0 10px;
    line-height: 0;/*这2句兼容ie高度不统一*/
    vertical-align: middle;
    border: 1px solid #ddd;
    /*outline: none;*/
    /*-webkit-appearance: none;*/
}
/*.index_form > input[type=text]:focus {
	border: 1px solid #4791FF;
}*/

.index_form > a{

    display: inline-block;
    line-height: 36px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    vertical-align: middle;
    padding:0 10px 0 10px;
    height: 36px;
    margin-left: -6px;
    color: white;
}



.index_form > input[type=button]{
    font: 0.96em '微软雅黑';
    letter-spacing: 0.2em;
    height: 36px;
    padding:0 10px 0 10px;
    text-align: center;
    line-height: 0;/*这2句兼容ie高度不统一*/
    vertical-align: middle;
    margin-left: -6px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    color: #fff;
}
.index_form > span{
    height: 36px;
    display: block;
    line-height: 50px;
    vertical-align: middle;
}

.index_form > span > a{
    font: 0.94em arial;
}
/*.container{
    padding-bottom: 50px;
}*/
/*
修饰声明
------------------------*/
.notice{
    margin-top: 150px;
    padding-bottom: 50px;
}
.notice > div{
    color: #999999;
}
.notice > div > a{
    color: #999999;
    margin-right: 5px;
    font: 14px arial;
}
.notice > div > span{
    display: block;
}
.notice > div > span > span{
    display: inline-block;
    color: #999999;
    margin-right: 5px;
    font: 14px arial;
}
.notice > div > a:hover{
    text-decoration: none;
}
/*
文章编写
*/
.btn-size{
    padding: 0.7% 3% 0.7% 3%;
    letter-spacing: 0.8em;
    font: 1.0em '微软雅黑';
    text-align: center;
}

label{
    font: 0.94em '微软雅黑';
}

/*
搜索列表
*/
.nav-brand-logo{
    line-height: 50px;
}
.nav-brand-logo > img{
    display:inline-block;
    height: 4em;
}

#res_total{
    display: block;
    margin-top: 10px;
    color: #999;
    font-size: 12px;
}
.search_form{

}
.search_form > input[type='text']{
    width: 35%;
    height: 30px;
    padding:0 10px 0 10px;
    line-height: 0;/*这2句兼容ie高度不统一*/
    vertical-align: middle;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    box-shadow: none;
}

.search_form > a{
    display: inline-block;
    line-height: 30px;
    background: #3385ff;
    border: 1px solid #2d78f4;
    vertical-align: middle;
    padding:0 0.625em 0 0.625em;
    height: 30px;
    margin-left: -6px;
    color: white;
}
.search_form > input[type='button']{
    font: 0.96em '微软雅黑';
    letter-spacing: 0.2em;
    height: 30px;
    padding:0 10px 0 10px;
    text-align: center;
    line-height: 0;/*这2句兼容ie高度不统一*/
    vertical-align: middle;
    margin-left: -5px;
    outline: none;
    -webkit-appearance: none;
   	background: #3385ff;
    border: 1px solid #2d78f4;
    color: #fff;
}
.content{
    margin-top: 60px;
    margin-left: 4.5em !important;
}

.rel-search{
    margin: 10px 0 10px 0;
    padding: 0;
}
.relevant-search{
    font-size: 16px;
    font-weight: bold;
}
.relevant-search-res{
    margin-top: 8px;
}
.relevant-search-res > table{
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}
.relevant-search-res > table > tbody > tr > td > a{
    text-decoration: underline;
    color: #0000CC;
}
/*
内容部分
------------------------------------*/
/*修饰ul*/
.article{
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;

}
.article > li{
    margin-top: 15px;
}
.article > li >a{
    text-decoration: underline;
    color: #0000CC;
    font-size: 1.1em;
    cursor: pointer;
}
.content-adjust{
    margin-left: 0px;
}
.img-adjust{
    margin-left: 0px;
}
.img-adjust > img{
    width: 120%;
}
.promotion{
    display: block;
    background: #FFFAFA;
    margin-top: 0 !important;
}
/*修饰文字*/
.dec_word{
    font-size: 0.85em;
    letter-spacing: 0.1em;

    /*让文本自动换行*/
    word-break: normal;
    width: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;

}
/*修饰链接网址*/
.website{
    /*让文本自动换行*/
    word-break: normal;
    width: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-decoration: none;
    color: #008000;
}
.website:hover{
    text-decoration: none;
    color: #008000;
}

.content-navbar-bottom{
    margin-top: 40px;
    margin-bottom: 0;
}
.content-jubao{
    display: inline-block;
    margin-left: 10px;
    color: #777777;
    text-decoration: none;
    padding-top: 15px;
}
.content-jubao:hover{
    color: #484848;
    text-decoration: none;
}

.content-ad{
    border-left:1px solid silver;
}

.content-footer{
    margin-bottom: 0em !important;
    line-height: 50px;
}

@media only screen and (min-width: 801px){
    .content-footer > .container{
        margin:0;
        padding: 0;
        margin-left: 7em;
    }
}
.content-footer-notice{
    text-align: left;
    color: #999;
    margin-left: 0;
}
.content-footer-notice > a{
    color: #999;
    margin-right: 5px;
}
.btn_submit{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    padding: 6px 20px;
    border: 1px solid lightblue;
    letter-spacing: 0.2em;
    font-size: 16px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;

    background-color: #2EA5C6;
    color: #fff;
    cursor: pointer;
}
.btn_submit:hover{
    background-color: #2EA5C6;
    color: #fff;
    text-decoration: none;
}
.evaluate{

}
.evaluate > div{
    font-weight: bold;
    font-size: 16px;
}
.evaluate > ul{
    padding: 0;
    list-style: none;
    display: block;
}
.evaluate > ul > li{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
    /*background: red;*/
    border-bottom: 1.5px dotted silver;
}
.evaluate > ul > li > span{
    display: block;
    margin-top: 5px;

    word-break: normal;
    width: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}
.evaluate > ul > li > span.time{
    font-size: 14px;
    font-style: italic;
    color: #666666;
}
/*
分页导航条
------------------------------------*/
.pagenation{

}

.pagenation > ul{
    padding: 0;
    display: inline-block;
    list-style: none;
}
.pagenation > ul > li{
    display: inline-block;
    padding: 0;
}


.pagenation > ul > li > a.active{
    display: block;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    color: #000;
}
.pagenation > ul > li > a{
    display: block;
    text-decoration: none;
    border: 1px solid rgba(178,178,178,.3);
    padding: 5px 10px;
    color: #0000CC;
    margin-right: 5px;
    font-family: '微软雅黑';
}
.pagenation > ul > li > a:active{
    color: red;
}
.pagenation > ul > li > a:hover{
    border-color: #3C90F3;
    cursor: pointer;
}
.page-hidden{
    display: none;
}
.page-show{
    display: inline-block;
}
/*广告部分
---------------------------------------*/
.ad-item{
    text-align: center;
}
.ad-item > img{
    display: inline-block;
    /*width:5.3em;*/
    height: 6em;
    margin-bottom: 0.3em;
}
.ad-item > a{
    display: block;
    text-decoration: underline;
    color: #0000CC;
    font-size: 13px;
}
.ad-item > span{
    margin-top: 5px;
    display: block;
    color: #999999;
    font-size: 13px;
}
.ad-item > span:hover{
    cursor: default;
}
/*
文章详细页
--------------------*/
.info-container{
    margin-top: 50px;
    margin-bottom:50px;
    width: 60%;
    box-shadow: -2px 0 5px 0 rgba(0,0,0,0.3),2px 0 5px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow:-2px 0 5px 0 rgba(0,0,0,0.3),2px 0 5px 0 rgba(0,0,0,0.3);
       -moz-box-shadow:-2px 0 5px 0 rgba(0,0,0,0.3),2px 0 5px 0 rgba(0,0,0,0.3);
        -ms-box-shadow:-2px 0 5px 0 rgba(0,0,0,0.3),2px 0 5px 0 rgba(0,0,0,0.3);
         -o-box-shadow:-2px 0 5px 0 rgba(0,0,0,0.3),2px 0 5px 0 rgba(0,0,0,0.3);
}
.info-title{
    font-size: 1.3em;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;

}
.info-time{
    padding-left: 20px;
    font-style: italic;
    display: block;
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}
.info-container > div > hr{
    margin-top: 0;
    /*border-color: rgba(0,0,0,0.7);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);*/
}
#article_content{
    padding: 0 20px;
}

.fancybox-decoration{
    width: 500px;
    height: 300px;
    display: none;
}
/*
针对移动端
*/
@media only screen and (min-width: 769px) and (max-width: 800px){
    .index_form > input[type=text]{
        width: 70%;
    }
    .content{
        margin-top: 115px;
    }
    .nav-brand-logo{
        /*display: block;*/
    }
    .search_form{
        /*display: block;
        width: 100%;*/
    }
    .search_form > input[type='text']{
        /*width: 75%;
        height:60px;
        font-size: 1.6em;*/
    }

    .search_form > input[type='button']{
        width: 25%;
        height: 60px;
        font: 1.6em '微软雅黑';
    }

    .index_form > input[type=text]{


        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }

    .index_form > input[type=button]{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

    }
    .search_form > input[type='text']{
        /*去除手机输入框内阴影*/
        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .search_form > input[type='button']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }

}



@media only screen and (min-width: 601px) and (max-width: 768px){
    .index_form > input[type=text]{
        width: 60%;
    }
    .content{
        margin-top: 100px;
    }
    .nav-brand-logo{
        /*display: inline-block;*/
    }
    .search_form{
        /*display: inline-block;*/
        width: 100%;
    }
    .search_form > input[type='text']{
        /*width: 75%;
        height:50px;
        font-size: 1.5em;*/
    }
    .search_form > a{
        /*width: 25%;
        height: 50px;*/
    }

    .search_form > input[type='button']{
        width: 25%;
        height: 50px;
        font: 1.5em '微软雅黑';
    }

    /*修饰导航条*/
    .pagenation{
        text-align: -webkit-left;
        text-align: left;
    }
    .pagenation > ul > li > span{
        display: block;
        margin:auto 10px auto 10px;
        vertical-align: middle;
        font: 1.3em '微软雅黑';
        letter-spacing: 0.3em;
        line-height: 1px;
    }
    .pagenation > ul > li > a{
        text-decoration: none;
        font-size: 1.5em;
        vertical-align: middle;
        border: none;
    }

    .info-container{
        width: 80%;
    }

    .index_form > input[type=text]{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .index_form > input[type=button]{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

    }
    .search_form > input[type='text']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
        /*去除手机输入框内阴影*/
        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .search_form > input[type='button']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }

}

@media only screen and (min-width: 321px) and (max-width: 600px){
    .fancybox-decoration{
        width: 300px;
    }
    .fancybox-decoration > textarea{
        width: 21em   !important;
    }
    .ad-content{
        display: none;
    }
    .index_form > input[type=text]{
        width: 80%;
    }

    .content{
        margin-top: 100px;
        margin-left: 0em !important;
        padding: 0;
    }
    /*.content-ad{
        border-left:none;
        border-top:1px solid silver;
    }*/
    .content-footer-notice{
        text-align: center;
    }
    .nav-brand-logo{
        display: block;
    }
    .search_form{
        display: block;
        width: 100%;
    }
    .search_form > input[type='text']{
        width: 90%;
        /*height: 40px;*/
    }
    .search_form > a{
        width: 10%;
        /*height: 40px;
        line-height: 40px;*/
    }
    .search_form > input[type='button']{
        width: 25%;
        height: 40px;
        /*font-size: 0.8em;*/
    }

    /*修饰导航条*/
    .pagenation{
        text-align: -webkit-center;
        text-align: center;
    }
    .pagenation > ul > li > span{
        display: block;
        margin:auto 10px auto 10px;
        vertical-align: middle;
        font: 1.3em '微软雅黑';
        letter-spacing: 0.3em;
        line-height: 1px;
    }
    .pagenation > ul > li > a{
        text-decoration: none;
        font-size: 1.5em;
        vertical-align: middle;
        border: none;
    }

    .info-container{
        width: 100%;
        margin: 0;
    }

    .index_form > input[type=text]{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .index_form > input[type=button]{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

    }
    .search_form > input[type='text']{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
        /*去除手机输入框内阴影*/
        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .search_form > input[type='button']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }
}

@media only screen and (max-width:320px) {

    .fancybox-decoration{
        width:300px;

    }
    .fancybox-decoration > textarea{
        width: 17em !important;
        overflow: hidden;
    }

    .ad-content{
        display: none;
    }

    .index_form > input[type=text]{
        width: 80%;
    }
    .content{
        margin-top: 90px;
        margin-left: 0em !important;
        padding: 0;
    }
    /*.content-ad{
        border-left: none;
        border-top:1px solid silver;
    }*/
    .content-footer-notice{
        text-align: center;
    }
    .nav-brand-logo{
        display: block;
    }
    .search_form{
        display: block;

        width: 100%;
    }
    .search_form > input[type='text']{
        width: 90%;
    }
    .search_form > a{
        width: 10%;
    }
    .search_form > input[type='button']{
        width: 25%;
        font-size: 0.8em;
    }

    /*修饰导航条*/
    .pagenation{
        text-align: -webkit-center;
        text-align: center;
    }
    .pagenation > ul > li > span{
        display: block;
        margin:auto 10px auto 10px;
        vertical-align: middle;
        font: 1.3em '微软雅黑';
        letter-spacing: 0.3em;
        line-height: 1px;
    }
    .pagenation > ul > li > a{
        text-decoration: none;
        font-size: 1.5em;
        vertical-align: middle;
        border: none;
    }
    .info-container{
        width: 100%;
        margin: 0;
    }

    .index_form > input[type=text]{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .index_form > input[type=button]{

        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;

    }
    .search_form > input[type='text']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
        /*去除手机输入框内阴影*/
        outline: none;
        -webkit-outline:none;
        appearance:none;
        -webkit-appearance:none;
    }
    .search_form > input[type='button']{
        border-radius: 0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }
}
